{% extends 'base.html' %} 
{% block page %}
<div class="container">
    <div class="row" style="padding:10px;">
        <div class="alert alert-info">
            <h4><strong>Triggers</strong></h4>
            <span><p>Set up and manage your Triggers from this panel.</p><a class="btn btn-default" href="./groups/add">Add a Group</a></span>
        </div>
    </div>
    {% if triggers %}
    <div> <!-- List of groups -->
    <div class="row">
        <div class="col-md-10" style="padding:10px;">
            {% foreach trigger in triggers %}
            <div class="thumbnail" style="padding:10px;"><!-- Single group -->
                <div class="row">
                <div class="col-md-12">
                    <h4><strong><a href="#">{{ group.nickname }}</a></strong></h4>
                </div>
            </div>
                <div class="row">
                <div class="col-md-8">      
                    <p>
                        {{ trigger.description }}
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="row col-md-12">
                        <p>Trigger Activity</p>
                    </div>
                    <div class="row col-md-12 thumbnail" style="padding:10px;">
                        <h5><strong><--trigger statistics go here--></strong></h5>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-9">
                    <p>
                      <i class="icon-user"></i> Beacons(s): 
                      {% foreach beacon in trigger.groupbeacons %}
                        <a href="./beacons/{{ beacon.id }}"><span class="label label-info"> {{ beacon.name }}</span></a>
                      {% endfor %}
                    </p>
                    <p>
                      <i class="icon-user"></i> Groups(s): 
                      {% foreach group in trigger.groups %}
                        <a href="./groups/{{ groups.id }}"><span class="label label-warning"> {{ group.name }}</span></a>
                      {% endfor %}
                    </p>
                </div>
                <div class="col-md-3"
                    <p><a class="btn btn-primary pull-right" href="./triggers/{{trigger.id}}">More Info</a></p>
                    </div>
            </div>
            </div><!-- End Single group -->
            {% endfor %}
        </div>
      </div>
   </div><!-- End List -->
   {% endif%}
   {% else %}
   <div class="row">
        <div class="col-md-8">
            <h1>You currently have no triggers</h1>
        </div>
   </div>
   {% endelse %}
   
</div> 
<!-- /container -->
{% endblock %}
