{% extends 'base.html' %}
{% block page %}
<div class="container">
    {% if action %}
        {% if action.id %}
        <div class="row" style="padding:10px;">
            <div class="alert alert-info">
                <h4><strong>Action Properties</strong></h4>
                <p>Edit your action properties here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form class="form-horizontal" action="/action/add" method="POST">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="nickname">Nickname</label>
                      <div class="col-md-8">

                      <input id="nickname" name="nickname" type="text" placeholder="popup" value="{{ action.nickname }}" class="form-control input-md" required="">
                      <span class="help-block">Nicknames are only used for your convenience. </span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="type">Action type</label>
                      <div class="col-md-8">
                      <select name="type">
                                <option value="0">Notification</option>
                                <option value="1">Contextual Data</option>
                                <!-- <option value="2">Something else</option> -->
                      </select>
                      <span class="help-block">Your Action's type</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="payload">Action payload</label>
                      <div class="col-md-8">
                      <input id="payload" name="payload" type="text" placeholder="Ex. 124414" class="form-control input-md" required="" value="{{ action.payload }}">

                      <span class="help-block">Your Action's payload</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="description">Description</label>
                      <div class="col-md-8">
                      <input id="description" name="description" type="text" placeholder="Ex. NW Corner of room" class="form-control input-md" required="" value="{{ action.description }}">
                      <span class="help-block">Describe this beacon (Location, etc)</span>
                      </div>
                    </div>
                    <input type="hidden" name="id" style="display: none" value="{{ action.id }}"/>


                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="submit">and lastly</label>
                      <div class="col-md-5">
                        <button id="submit" name="submit" class="btn btn-success">Save Action</button>
                      </div>
                    </div>

                    </fieldset>
                    </form>
            </div>
        </div>
        {% else %}
        <div class="row" style="padding:10px;">
            <div class="alert alert-info">
                <h4><strong>Add Action Properties</strong></h4>
                <p>Add your action properties here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form class="form-horizontal" action="/action/add" method="POST">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="nickname">Nickname</label>
                      <div class="col-md-8">

                      <input id="nickname" name="nickname" type="text" placeholder="popup" class="form-control input-md" required="">
                      <span class="help-block">Nicknames are only used for your convenience. </span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="type">Action type</label>
                      <div class="col-md-8">
                      <select name="type">
                                <option value="0">Notification</option>
                                <option value="1">Contextual Data</option>
                                <!-- <option value="2">Something else</option> -->
                      </select>
                      <span class="help-block">Your Action's type</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="payload">Action payload</label>
                      <div class="col-md-8">
                      <input id="payload" name="payload" type="text" placeholder="Ex. 124414" class="form-control input-md" required="" >

                      <span class="help-block">Your Action's payload</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="description">Description</label>
                      <div class="col-md-8">
                      <input id="description" name="description" type="text" placeholder="Ex. NW Corner of room" class="form-control input-md" required="">
                      <span class="help-block">Describe this beacon (Location, etc)</span>
                      </div>
                    </div>
                    <input type="hidden" name="id" style="display: none" value="{{ action.id }}"/>


                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="submit">and lastly</label>
                      <div class="col-md-5">
                        <button id="submit" name="submit" class="btn btn-success">Add Action</button>
                      </div>
                    </div>

                    </fieldset>
                    </form>
            </div>
        </div>
        {% endif %}
    {% else %}
    <div class="row">
            <div class="col-md-8">
                <h1>Uhm... Something went wrong.</h1>
            </div>
    </div>
    {% endif %}
</div>
{% endblock %}



